<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProfileService" />
                <binding name="BasicHttpBinding_IConsumptionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/CarMonitor/ConsumptionService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsumptionService"
                contract="ConsumptionServiceReference.IConsumptionService"
                name="BasicHttpBinding_IConsumptionService" />
            <endpoint address="http://localhost:8733/CarMonitor/ProfileService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfileService"
                contract="ProfileServiceReference.IProfileService" name="BasicHttpBinding_IProfileService" />
        </client>
    </system.serviceModel>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
</configuration>